.search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  }

  .input {
    padding: 8px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.21);
  }

  .button {
    width: 100px;
    padding: 8px;
    color: black;
    border-radius: 10px;
    border: none;    

  }